@import "../Variables/Variables.scss";

.add_user{
    margin-top: 10px;
    margin-right: 30px;
    float: right;
    
}

.add_user button{
    background-color: $addButton;
    color: $fontColor;
            border: none;
            width: 90px;
            height: 30px;
            border-radius: 10%;
}

h2{
    color: $blackColor;
    margin-left: 100px;
}

table{
    border-collapse: collapse;
    
    width: 90%;
    float: left;
    color: $blackColor;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 70px;
    text-align: left;


    thead{
        border-bottom: 1px solid $borderColor;
    
        td{           
            //padding: 0.35em 0 .35em;
            padding: 2em 2em;
        }
    }

    tbody{
        border-bottom: 1px solid $borderColor;
        margin-bottom: 10px;

        td{           
            padding: 2em 2em;
            text-align: left;
        }

        .edit_button{
            background-color: $editButton;
            color: $fontColor;
            border: none;
            width: 60px;
            height: 30px;
            border-radius: 10%;
        }

        .delete_button{
            background-color: $deleteButton;
            color: $fontColor;
            border: none;
            width: 60px;
            height: 30px;
            border-radius: 10%;
        }
    }
}

